<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body style="margin: unset">
    <div class="container u-max-full-width" style="width: 100%; margin-bottom: 30px">
      <div class="row" style='background-color: #000'>
        <div class="eleven columns">
          <% if user_signed_in? %>
            <h3 style="margin: 15px">
              <a href="/" style="color: #fff; text-decoration: none">Home</a>
            </h3>
          <% end %>
        </div>
        <div class="one column" style="margin-left: 0">
          <% if user_signed_in? %>
            <%= button_to 'Log out', destroy_user_session_path, style: "margin-top: 15px; color: #fff; margin-bottom: 0", method: :delete, class: 'u-pull-right' %>
          <% end %>
        </div>
      </div>
      <% if flash.any? %>
        <% flash.each do |_type, msg| %>
          <div class="flash">
            <%= msg %>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
